body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Añade estilos al botón */
.button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#navbar::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-top: 10px;
}

#banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: 100%;
    animation: carousel 20s infinite linear;
}

.carousel img {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes carousel {
    0% { transform: translateX(0%); }
    10% { transform: translateX(0%); }
    25% { transform: translateX(-100%); }
    35% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    60% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}

.content {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para las tarjetas */
.card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 300px;
}

.card h2 {
    color: #333;
    font-size: 24px;
}

.card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}
.content {
    display: flex; /* Utilizando flexbox */
    justify-content: space-around; /* Espaciado entre las tarjetas */
}
.card {
    width: 45%; /* Estableciendo el ancho de las tarjetas */
    margin: 10px; /* Agregando un pequeño margen entre las tarjetas */
}   