/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    z-index: 2; /* Asegura que la barra de navegación esté encima de otros elementos */
    position: relative; /* Cambiado a 'relative' para eliminar el 'sticky' */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el formulario */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 175px; /* Ajuste para evitar que el pie de página se superponga */
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: auto; /* Cambiado de 'width: 100%;' a 'width: auto;' */
}

input[type="submit"]:hover {
    background-color: #444;
}

.content {
    padding: 20px;
    text-align: center;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    input[type="submit"] {
        width: 100%; /* Para ocupar el ancho completo en pantallas más pequeñas */
    }
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

/* Opcional: ajusta el estilo del botón si es necesario */
.button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}
