/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
    padding-bottom: 60px; /* Ajusta este valor según la altura de tu footer */
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: static; /* Asegura que el encabezado siempre esté fijo en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    height: 80px; /* Ajusta este valor según la altura de tu encabezado */
}

/* Ajuste de margen para el contenido para evitar que se superponga con el encabezado */
.content {
    padding: 150px 20px 20px; /* Se aumenta el padding superior para dejar espacio para el encabezado */
    text-align: center;
    display: flex;
    justify-content: space-around;
}

* Ajuste de margen para el contenido para evitar que se superponga con el encabezado */
.content {
    padding: 150px 20px 20px; /* Se aumenta el padding superior para dejar espacio para el encabezado */
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* Estilos del banner */
#banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    opacity: 1; /* Inicialmente visible */
    transition: opacity 0.5s; /* Transición suave de la opacidad */
}

/* Cuando el usuario desplaza hacia abajo, el banner se desvanece gradualmente */
body.scrolled #banner {
    opacity: 0;
}

/* Contenedor del contenido que se desplaza */
.scrollable-content {
    overflow-y: auto; /* Hace que el contenido sea desplazable verticalmente */
    max-height: calc(100vh - 100px); /* Altura máxima, menos la altura del encabezado */
    padding-top: 20px; /* Ajuste de relleno superior para compensar la altura del encabezado */
}

/* Estilos de la barra de navegación */
nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos del carrusel */
.carousel {
    display: flex;
    width: 100%;
    animation: carousel 20s infinite linear;
    z-index: 1;
}

.carousel img {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes carousel {
    0% { transform: translateX(0%); }
    16.666% { transform: translateX(0%); } /* Primer imagen */
    25% { transform: translateX(-100%); }
    41.666% { transform: translateX(-100%); } /* Segunda imagen */
    50% { transform: translateX(-200%); }
    66.666% { transform: translateX(-200%); } /* Tercera imagen */
    75% { transform: translateX(-300%); }
    91.666% { transform: translateX(-300%); } /* Cuarta imagen */
    100% { transform: translateX(-400%); } /* Quinta imagen */
}

/* Estilos del contenido */
.content {
    padding: 150px 20px 20px; /* Se aumenta el padding superior para dejar espacio para el encabezado */
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* Estilos de las tarjetas */
.card {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 45%;
    margin: 10px;
}

.card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px; /* Añadido para separar el título del contenido */
}

.card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos de las imágenes en las tarjetas */
.card img {
    width: 100%; /* Ajustado para que la imagen ocupe todo el ancho de la tarjeta */
    border-radius: 5px; /* Añadido para bordes redondeados en la imagen */
    margin-bottom: 10px;
}

/* Estilos de los botones */
.button {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: -100px; /* Inicialmente, el footer estará fuera de la vista */
    left: 0;
    width: 100%;
    opacity: 0; /* Inicialmente, el footer estará oculto */
    transition: bottom 0.5s ease, opacity 0.5s ease; /* Transiciones suaves */
}

/* Mostrar el footer cuando la página se carga */
.show-footer {
    bottom: 0; /* Muestra el footer */
    opacity: 1; /* Hace que el footer sea visible */
}

/* Estilos del botón de menú */
.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
}

.menu-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-button:hover {
    opacity: 0.8;
}

/* Estilos del menú desplegable */
.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    padding-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: left 0.3s ease;
}

.menu a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #f0f0f0;
}

/* Estilos del overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    cursor: pointer;
}

.menu-opened .overlay {
    display: block;
}

/* Estilos del botón de cerrar en el menú desplegable */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    input[type="submit"] {
        width: 100%; /* Para ocupar el ancho completo en pantallas más pequeñas */
    }

    /* Estilos para el formulario */
    .container {
        width: 100%; /* Ajuste para ocupar el ancho completo */
        margin: 0; /* Elimina el margen superior */
        padding: 20px;
        position: relative; /* Se añade para permitir el posicionamiento absoluto de h1 */
    }

    h1 {
        position: static; /* Se ajusta para que el h1 siga el flujo normal del documento */
        margin-top: 20px; /* Se añade un margen superior para separación */
    }
}
