header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a, header nav ul li button {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover, header nav ul li button:hover {
    background-color: #0056b3;
}
